add_footer_v1.py
docs/web/index_nofooter.html

*.tmp
*.bak
*.swp
__pycache__/
*.pyc
checkImages.bat
checkImages2.bat
curl_usage_in_bat_files.txt
deleteme.bat
docs-web-images.txt
docs.txt
docs.zip
docs_web.txt
dryRun_docs.txt
dump_image_urls.py
fixThese.txt
issues.txt
restoreFiles.bat
update_image_urls.py
